<div class="container">
  <p id="notice"><%= notice %></p>
    <div class="card bg-dark text-white text-center" style="width: 70rem;">
    <img class="card-img" src="https://cdn.pixabay.com/photo/2014/11/01/17/42/lab-512503_1280.jpg" alt="Card image">
      <div class="card-img-overlay">
        <p></p><p></p><p></p><h5 class="card-title" style= "font-size: 60px;">The Cougar Med Blog</h5>
        <p class="card-text" style= "font-size: 35px;">Leading scientific inquiry</p>
        <p class="card-text"></p>
      </div>
    </div>
  <%= link_to 'New Blog', new_blog_path %>

<%# I want to include a success alert when new blog posts have been made. How do I do this?
<div class="alert alert-success" role="alert">
  This is a success alert—check it out!
</div> %>


<div class="card text-center">
  <div class="card-header">
    Featured Blog Posts
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>

<div class="col">
  <% @blogs.each do |blog| %>
    <div class="card mb-3" style ="max-width: 40rem;">
      <img class="card-img-to" src="https://cdn.pixabay.com/photo/2020/03/05/19/18/technology-4905258_1280.jpg" alt="Card image cap" style= "max-width: 40rem; max-height: 30rem; object-fit: cover;">
        <div class="card-body">
          <h5 class="card-title"><%= blog.post_title %></h5>
          <p class="card-text"><%= blog.text %></p>
          <p class="card-text"><small class="text-muted"><%= blog.author_name %> | <%= blog.year %> | <%= blog.post_type %> | <%= blog.comment_section %></small></p>
          <%= link_to 'Show', blog %>
          <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
  <% end %>
</div>


</div>