<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>String</th>
      <th>Recent posts</th>
      <th>Text</th>
      <th>Article title</th>
      <th>String</th>
      <th>Archives</th>
      <th>Text</th>
      <th>Year</th>
      <th>Post title</th>
      <th>String</th>
      <th>Body</th>
      <th>Text</th>
      <th>Author name</th>
      <th>String</th>
      <th>Authorid</th>
      <th>String</th>
      <th>Post type</th>
      <th>String</th>
      <th>Comment section</th>
      <th>Text</th>
      <th>Ad space</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.string %></td>
        <td><%= blog.recent_posts %></td>
        <td><%= blog.text %></td>
        <td><%= blog.article_title %></td>
        <td><%= blog.string %></td>
        <td><%= blog.archives %></td>
        <td><%= blog.text %></td>
        <td><%= blog.year %></td>
        <td><%= blog.post_title %></td>
        <td><%= blog.string %></td>
        <td><%= blog.body %></td>
        <td><%= blog.text %></td>
        <td><%= blog.author_name %></td>
        <td><%= blog.string %></td>
        <td><%= blog.authorID %></td>
        <td><%= blog.string %></td>
        <td><%= blog.post_type %></td>
        <td><%= blog.string %></td>
        <td><%= blog.comment_section %></td>
        <td><%= blog.text %></td>
        <td><%= blog.ad_space %></td>
        <td><%= blog.string %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
