<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>String:</strong>
  <%= @blog.string %>
</p>

<p>
  <strong>Recent posts:</strong>
  <%= @blog.recent_posts %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>

<p>
  <strong>Article title:</strong>
  <%= @blog.article_title %>
</p>

<p>
  <strong>String:</strong>
  <%= @blog.string %>
</p>

<p>
  <strong>Archives:</strong>
  <%= @blog.archives %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>

<p>
  <strong>Year:</strong>
  <%= @blog.year %>
</p>

<p>
  <strong>Post title:</strong>
  <%= @blog.post_title %>
</p>

<p>
  <strong>String:</strong>
  <%= @blog.string %>
</p>

<p>
  <strong>Body:</strong>
  <%= @blog.body %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @blog.author_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @blog.string %>
</p>

<p>
  <strong>Authorid:</strong>
  <%= @blog.authorID %>
</p>

<p>
  <strong>String:</strong>
  <%= @blog.string %>
</p>

<p>
  <strong>Post type:</strong>
  <%= @blog.post_type %>
</p>

<p>
  <strong>String:</strong>
  <%= @blog.string %>
</p>

<p>
  <strong>Comment section:</strong>
  <%= @blog.comment_section %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>

<p>
  <strong>Ad space:</strong>
  <%= @blog.ad_space %>
</p>

<p>
  <strong>String:</strong>
  <%= @blog.string %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
