<p id="notice"><%= notice %></p>

<p>
  <strong>Post title:</strong>
  <%= @blog.post_title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @blog.text %>
</p>

<p>
  <strong>Year:</strong>
  <%= @blog.year %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @blog.author_name %>
</p>

<p>
  <strong>Authorid:</strong>
  <%= @blog.authorID %>
</p>

<p>
  <strong>Post type:</strong>
  <%= @blog.post_type %>
</p>

<p>
  <strong>Leave a comment</strong>
  <%#<button type="button" class="btn btn-link">Link</button> %>
  <%= @blog.comment_section %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>

 <br><br>
 
 <h2>Comments</h2>
   <div id="comments">
     <%# Expands to render partial: 'comments/comment', collection: @post.comments %>
     <%= render @blog.comments %>
    </div>
    
    <%= render 'comments/new', blog: @blog %>
   </div>