<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://www.flaticon.com/svg/static/icons/svg/45/45952.svg" alt="" width="72" height="72">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <p class="lead">Connect. Discover. Share.
    <br>Join thousands of researchers, including Nobel Laureates, in scientific inquiry.
    </p>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <hr class="mb-3">
        <%= f.label :email %><br />
        <div class="input-group">
          <%= f.email_field :email, class: 'form-control font-italic text-muted font-weight-light', autofocus: true, autocomplete: "email", placeholder: "Email Address", required: true %>
          <div class="invalid-feedback" style="width: 100%;">
              Enter email.
          </div>
        </div>
      </hr>
    
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <p></p>
      
      <hr class="mb-3">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, class: 'form-control font-italic text-muted font-weight-light', autocomplete: "new-password", placeholder: "Password", required: true  %>
        <% if @minimum_password_length %><br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </hr>
      <p></p>
      
      <hr class="mb-3">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control font-italic text-muted font-weight-light', autocomplete: "new-password", placeholder: "Confirm Password", required: true  %>
      </hr>
      <p></p>
      
      <hr class="mb-3">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, class: 'form-control font-italic text-muted font-weight-light', autocomplete: "current-password", placeholder: "Current Password", required: true  %>
      </hr>
      <p></p>
      
      <hr class="mb-4">
        <%= f.submit "Update", class: 'btn btn-danger btn-lg btn-block' %>
      </hr>
  <% end %>
    
  <br>
  <br>
  </div>

  <div class="col-md-6">
    <h3>Cancel my account</h3>
    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  </div>
  
  </div>
    </div>
    
        </div>

