<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fake_profile.name %>
</p>

<p>
  <strong>Education:</strong>
  <%= @fake_profile.education %>
</p>

<p>
  <strong>Background:</strong>
  <%= @fake_profile.background %>
</p>

<p>
  <strong>Award:</strong>
  <%= @fake_profile.award %>
</p>

<p>
  <strong>Certification:</strong>
  <%= @fake_profile.certification %>
</p>

<%= link_to 'Edit', edit_fake_profile_path(@fake_profile) %> |
<%= link_to 'Back', fake_profiles_path %>
