<div class="container">
  <div class="header">
    <h1>Specialties</h1>
    <p id="notice"><%= notice %></p>
  </div>
  
 
  <div class="row">
      <% @specialties.each do |specialty| %>
    <div class="card boarder col-4" style="width: 20rem;">
    <img src= <%= specialty.text %> style="width:350px;height:200px;class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= specialty.category_title %></h5>
      <p class="card-text"><%= specialty.category_description %></p>
      
      </div>
  </div>
  <% end %>
  </div>
</div>


<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>String</th>-->
<!--      <th>Category title</th>-->
<!--      <th>String</th>-->
<!--      <th>Category description</th>-->
<!--      <th>Text</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @specialties.each do |specialty| %>-->
<!--      <tr>-->
<!--        <td><%= specialty.title %></td>-->
<!--        <td><%= specialty.string %></td>-->
<!--        <td><%= specialty.category_title %></td>-->
<!--        <td><%= specialty.string %></td>-->
<!--        <td><%= specialty.category_description %></td>-->
<!--        <td><%= specialty.text %></td>-->
<!--        <td><%= link_to 'Show', specialty %></td>-->
<!--        <td><%= link_to 'Edit', edit_specialty_path(specialty) %></td>-->
<!--        <td><%= link_to 'Destroy', specialty, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Specialty', new_specialty_path %>-->
