<p id="notice"><%= notice %></p>

<p>
  <strong>Specialty:</strong>
  <%= @specific.Specialty %>
</p>

<p>
  <strong>Category name:</strong>
  <%= @specific.category_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @specific.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @specific.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @specific.text %>
</p>

<p>
  <strong>Data type:</strong>
  <%= @specific.data_type %>
</p>

<p>
  <strong>String:</strong>
  <%= @specific.string %>
</p>

<p>
  <strong>Data title:</strong>
  <%= @specific.data_title %>
</p>

<p>
  <strong>String:</strong>
  <%= @specific.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @specific.description %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @specific.authors %>
</p>

<p>
  <strong>String:</strong>
  <%= @specific.string %>
</p>

<p>
  <strong>Authorid:</strong>
  <%= @specific.authorID %>
</p>

<p>
  <strong>String:</strong>
  <%= @specific.string %>
</p>

<%= link_to 'Edit', edit_specific_path(@specific) %> |
<%= link_to 'Back', specifics_path %>
