<div class="container">
  <div class="header">
    <h1>Specialties</h1>
    <p id="notice"><%= notice %></p>
  </div>
  
 
  <div class="row">
      <% @specialties.each do |specialty| %>
    <div class="card col-4">
    <img src= <%= specialty.text %> style=" position:relative;width:100%;height:200px;class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= specialty.category_title %></h5>
      <p class="card-text"><%= specialty.category_description %></p>
      
      </div>
  </div>
  <% end %>
  </div>
</div>

<style>
      .container {
        padding: 2px 16px;
      }
      
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }

      .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 300px;
      padding: 10px;
      display: inline-block;
  
      margin-left: 100px;
      margin-bottom: 10px;
    }
</style>

<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>String</th>-->
<!--      <th>Category title</th>-->
<!--      <th>String</th>-->
<!--      <th>Category description</th>-->
<!--      <th>Text</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @specialties.each do |specialty| %>-->
<!--      <tr>-->
<!--        <td><%= specialty.title %></td>-->
<!--        <td><%= specialty.string %></td>-->
<!--        <td><%= specialty.category_title %></td>-->
<!--        <td><%= specialty.string %></td>-->
<!--        <td><%= specialty.category_description %></td>-->
<!--        <td><%= specialty.text %></td>-->
<!--        <td><%= link_to 'Show', specialty %></td>-->
<!--        <td><%= link_to 'Edit', edit_specialty_path(specialty) %></td>-->
<!--        <td><%= link_to 'Destroy', specialty, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Specialty', new_specialty_path %>-->
