<head>
 <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class = "toptop">
 <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img id = "carousel-image" src="https://info.cell.com/hubfs/CP20313_Med_eTOC_1024x342.jpg" class="d-block w-100" style="height:500px" >
      <div class="carousel-caption d-none d-md-block">
        <!--<h5 style="float:left">MedStud</h5><br>-->
        <!--<p style="float:left">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>-->
      </div>
    </div>
    <div class="carousel-item">
      <img id = "carousel-image" src="https://wallpaperaccess.com/full/185895.jpg" class="d-block w-100" style="height:500px">
      <div class="carousel-caption d-none d-md-block">
        <!--<h5>Second slide label</h5>-->
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>-->
      </div>
    </div>
    <div class="carousel-item">
      <img id = "carousel-image" src="https://www.gulfcoast.edu/images/medical-and-health-2.jpg" class="d-block w-100" style="height:500px">
      <div class="carousel-caption d-none d-md-block">
        <!--<h5>Third slide label</h5>-->
        <!--<p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>-->
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
 
 
 
</div>


</head>

<body style="background-image: url("https://www.multiling.com/wp-content/uploads/2018/07/AdobeStock_177452394.jpeg");" >

 <div class = "head-top">
 <h1 style="font-family:Georgia, serif; margin-top:15px; margin-left:35px; text-shadow: 1px 1px 2px #000000;" style = "background-color: #fbf7f5;">Find Students in your medical network</h1>
 <br><br>
 <div class = "search">
 <form>
 <input id = "category" type="text" name="search" placeholder="condition, procedure, student name">
 <input id = "zip" type="text" name="search" placeholder="zip code or city">
 <input id = "date" type="date" name="search" placeholder="date">
 <button id = "button-search" type="button" class="btn btn-warning">Submit</button>
 </form>
 </div>

</div>



<!--/.Carousel Wrapper-->
<div class = "member-spotlight">

 <h1><b>Member Spotlight</b></h1>
 
 <!--Carousel Wrapper-->
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

  <!--Controls-->
  <div class="controls-top">
    <a id = "control-prev" class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></a>
    <a id = "control-next" class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right fa-2x" aria-hidden="true"></i></a>
  </div>
  <!--/.Controls-->

  <!--Indicators-->
  <ol class="carousel-indicators">
    <li id = "left-indicator" data-target="#multi-item-example" data-slide-to="0" class="active"></li>
    <li id = "right-indicator" data-target="#multi-item-example" data-slide-to="1"></li>
    
  </ol>
  <!--/.Indicators-->

  <!--Slides-->
  <div class="carousel-inner" role="listbox">

    <!--First slide-->
    <div class="carousel-item active">
       <div class="row">
        
          <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://image.freepik.com/free-photo/i-trying-be-best-doctor_329181-2188.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title" ><a href="/f_dmikaels"> Mikael Dillon</h4></a>
                          <p class= "position">Cardiology Fellow</p>
                          <p class= "school">Baylor College of Medicine</p>
                      </div>
                  </div>
              </div>
        </div>
           <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://image.freepik.com/free-photo/smiling-female-doctor_53419-2657.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title"><a href="/f_dhalles">Halle Downes</h4></a>
                          <p class= "position">Oncology Resident</p>
                          <p class= "school">Duke University</p>
                      </div>
                  </div>
              </div>
        </div>
         <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://media-exp1.licdn.com/dms/image/C5603AQFr1r7VIq7GGQ/profile-displayphoto-shrink_800_800/0/1565710441774?e=1611792000&v=beta&t=sHBv0sfQxR4YJi_PQKOS7DQzwgz9zhkw25w3zgDY0A4" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title"><a href="/f_djosephs">Khaled Abdelrahman</h4></a>
                          <p class= "position">MD Candidate at UT Austin</p>
                          <p class= "school">Dell Medical School at the University of Texas at Austin</p>
                      </div>
                  </div>
              </div>
        </div>
         <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://image.freepik.com/free-photo/portrait-doctor_144627-39390.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title"><a href="/f_dalexis">Alexis Friedman</h4></a>
                          <p class= "position">Pediatricts Fellow</p>
                          <p class= "school">Cornell University</p>
                      </div>
                  </div>
              </div>
        </div>
     </div>
  </div>
  <div class="carousel-item">
        <div class="row">
              <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://media.istockphoto.com/photos/male-doctor-using-a-laptop-sitting-at-his-desk-picture-id1043219164?k=6&m=1043219164&s=612x612&w=0&h=893OmeBePALhUcqvNqTm5hFMbl-0sGpEsL8dm6NHhwk=" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title"><a href="/f_dowais">Owais Cline</h4></a>
                          <p class= "position">Neurology Resident</p>
                          <p class= "school">Texas A&M University</p>
                      </div>
                  </div>
              </div>
        </div>
          <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://media-exp1.licdn.com/dms/image/C4E03AQGB4I9SJ5fV6w/profile-displayphoto-shrink_800_800/0/1541128718116?e=1611792000&v=beta&t=cRmMoRhQB-83qGwxD7UGkS7toRKkKc4wcMqUkgZbQ-Q" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title"><a href="/f_dzakirs">Vignesh Ramachandra</h4></a>
                          <p class= "position">Dermatology Resident</p>
                          <p class= "school">John Hopkins University</p>
                      </div>
                  </div>
              </div>
        </div>
          <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://cdn.pixabay.com/photo/2019/12/06/13/40/anesthesia-4677401_960_720.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title"><a href="/f_develyns">Evelyn Wong</h4></a>
                          <p class= "position">Radiology Resident</p>
                          <p class= "school">Stanford University</p>
                      </div>
                  </div>
              </div>
        </div>
         <div class="card">
              <div class="row no-gutters">
                  <div class="col-auto">
                      <img src="https://image.freepik.com/free-photo/portrait-beautiful-nurse_1258-16469.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col">
                      <div class="card-block px-3">
                          <h4 class="card-title"><a href="/f_develyns">Petra Sheehan</h4></a>
                          <p class= "position">Gynaecology Resident</p>
                          <p class= "school">University of Pennsylvania</p>
                      </div>
                  </div>
              </div>
        </div>
       </div> 
  </div>
  </div>
 </div>
</div>
<style>
  .img-fluid{
      display: inline-block;
        width: 100px;
        height: 100px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 50%;
        position: relative;
        left: 5px;
        padding-left: 0px;
        object-fit: cover;
        object-fit: center;
  }
  .card{
      font-family: Georgia, serif ;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      Add shadows to create the "card" effect 
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 435px;
      height: 255px;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 30px;
      padding: 15px;
      padding-bottom:10px;

  }
  .card-title{
    font-weight: 600;
    padding-top:5px;
    font-size:20px;
    color:black;

  }
  .school{
   font-size:12px;
   letter-spacing: 0.2px;
   color: #A9A9A9;
   font-weight: 300;
   
  }
  p{
    padding:0;
    margin:0;
    
  }
  
   .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
      }


#control-prev{
    background-color: white;
    color: black;
    position: relative;
    left: -20px;
    top: 190px;
    z-index: 4;
    padding-top: 10px;
    padding-left: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
}
#control-next{
    background-color: white;
    color: black;
    position: relative;
    left: 1680px;
    top: 190px;
    z-index: 4;
    padding-top: 12px;
    padding-left: 18px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

#left-indicator{
     background-color: #D98880;
}

#right-indicator{
     background-color: #D98880;
}


</style>




<div class = "specialties">
 <h1><b>Top specialties on our network</b></h1>

 <div class = "inside">
 <ul>
     <li class="small1">
        <a href = "#">
            <p class="circle">
                <i id = "cat-icons" class="fa fa-medkit fa-4x" aria-hidden="true"></i>
                <div class = "circle-text">Primary Care</div> 
            </p>
        </a>
    </li>
    <li class="small2">
         <a href = "#">
             <p class="circle">
                <i id = "cat-icons2" class="fa fa-female fa-4x" aria-hidden="true"></i>
                <div class = "circle-text">Obygyn</div>
            </p>        
        </a>
    </li>
 <li class="small3"><a href = "#"><p class="circle"><i id = "cat-icons3" class="fa fa-user-md fa-4x" aria-hidden="true"></i>
    <div class = "circle-text">Dentist</div></p></a></li>
 <li class="small4"><a href = "#"><p class="circle"><i id = "cat-icons" class="fa fa-search fa-4x" aria-hidden="true"></i>
    <div class = "circle-text">Dermatologist</div></p></a></li>
<li class="small5"><a href = "#"><p class="circle"><i id = "cat-icons" class="fa fa-sun-o fa-4x" aria-hidden="true"></i>
    <div class = "circle-text">Psychiatrist</div></p></a></li>
 <li class="small6"><a href="#"><p class="circle"><i id = "cat-icons" class="fa fa-eye fa-4x" aria-hidden="true"></i>
    <div class = "circle-text">Eye Doctor</div></p></a></li>
 <li class="small7"><a href="#"><p class="circle"><i id = "cat-icons" class="fa fa-life-ring fa-4x" aria-hidden="true"></i>
    <div class = "circle-text">ENT</div></p></a></li>
 <li class="small8"><a href=""><p class="circle"><i id = "cat-icons" class="fa fa-heart-o fa-4x" aria-hidden="true"></i>
    <div class = "circle-text">Heart</div></p></a></li>

 </ul>
 </div>

</div>


<div class = "signup">

    <div class = "signup-right">
         <h1>Are you a five-star research student?</h1>
         <br>
         <h2>List your publications to reach millions of collegues.</h2>
         <br>
         <ul>
         <li><p>Attract and engage new collegues</p></li>
         <li><p>Build and strengthen your online reputation</p></li>
         <li><p>Deliver a premium researchers patients love</p></li>
         </ul>
         <br>
         <a href = "/research_submissions"><button class="button" id = "signup-button">Publish your work on our site! </button></a>
    </div>

    
    
    
</div>











<div class = "citys">
  <h1><b>Find Students and Collegues by State</b></h1>
 <div class="row" style="padding-left:250px;padding-bottom:70px;">
<div class="col-6"> 
 <div class = "east">
   <h2><i><b>East</b></i></h2>
   <h4 style="padding-left:40px;"><a href = "#">Maine</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">New Hampshire</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Vermont</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">New York</a></h4>
 </div>
 <div class = "west">
   <h2><i><b>West</b></i></h2>
   <h4 style="padding-left:40px;"><a href = "#">Alaska</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">California</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Hawaii</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Idaho</a></h4>
 </div>
 </div>
 <div class="col-6"> 
 <div class = "north">
   <h2><i><b>North</b></i></h2>
   <h4 style="padding-left:40px;"><a href = "#">Wisconsin</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">North Dakota</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Montana</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Nebraska</a></h4>
 </div>
 <div class = "south">
   <h2><i><b>South</b></i></h2>
   <h4 style="padding-left:40px;"><a href = "#">Texas</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Oklahoma</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Colorado</a></h4>
   <h4 style="padding-left:40px;"><a href = "#">Arkansas</a></h4>
 </div>
 </div>
 </div>
</div>
<div class="banner" >
 <!--style="margin-top:0px;padding-top:0px;background-color:#E5E7E9;height:600px"-->
 <p class="h1 display-4" style="font-family:Georgia, serif; font-size:50px;margin-top:150px; padding-bottom:0px;text-shadow: 1px 1px 2px #000000;">Stay Connected with Your Peers</p>
 
 <div id="social-platforms"><br><br>
 
<div class="row">
<a class="btn btn-icon btn-facebook" href="#"><i class="fa fa-facebook"></i><span>Facebook</span></a>
<a class="btn btn-icon btn-twitter" href="https://twitter.com/MedStud_Media"><i class="fa fa-twitter"></i><span>Twitter</span></a>
<a class="btn btn-icon btn-googleplus" href="#"><i class="fa fa-google-plus"></i><span>Google+</span></a>
</div>

<div class="row" style="padding-left:70px;">
<a class="btn btn-icon btn-pinterest" href="#"><i class="fa fa-pinterest"></i><span>Pinterest</span></a>
<a class="btn btn-icon btn-linkedin" href="#"><i class="fa fa-linkedin"></i><span>LinkedIn</span></a>
</div>

</div>
<!--<div class= "bottom-pic" style="position: relative;height:900px;left: 800px;bottom:0px;">-->
<!-- <img id = "bot-pic" src = "https://www.vitaparkeye.com/UserFiles/doctorsunited_2.jpg">-->
</div>
</div>

</div>
</div>








</body>

<Style>


@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
.banner {
    background-image: url('https://www.vitaparkeye.com/UserFiles/doctorsunited_2.jpg');
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom: 32px;
   
  }
/*Ignore me, I'm just page styling*/
body {
  background: #ffffff;
  background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 50%, #F2F2F2 50%, #F2F2F2 50%, #F2F2F2 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(50%,#ffffff), color-stop(50%,#F2F2F2), color-stop(50%,#F2F2F2), color-stop(100%,#F2F2F2));
  background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 50%,#F2F2F2 50%,#F2F2F2 50%,#F2F2F2 100%);
  background: -o-linear-gradient(-45deg, #ffffff 0%,#ffffff 50%,#F2F2F2 50%,#F2F2F2 50%,#F2F2F2 100%);
  background: -ms-linear-gradient(-45deg, #ffffff 0%,#ffffff 50%,#F2F2F2 50%,#F2F2F2 50%,#F2F2F2 100%);
  background: linear-gradient(135deg, #ffffff 0%,#ffffff 50%,#F2F2F2 50%,#F2F2F2 50%,#F2F2F2 100%);
}



#social-platforms {
  position:relative;
  font-size:1rem;
  text-align:center;
  height:600px;
  font-family: 'Roboto',sans-serif;
  font-size:20px;
  top: 60px;
  /*right: 20px;*/
  /*left:480px;*/
  padding-top: 20px;
  padding: 10px;
}

/*Pen code from this point on*/
.btn {
  clear:both;
  white-space:nowrap;
  font-size:.8em;
  display:inline-block;
  border-radius:5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin:2px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.btn:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btn:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
  float:left;
  padding:13px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btn > span {
  padding:14px 18px 16px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btn:focus > span {
  background:#9a9a9a
}

.btn-icon > i {
  border-radius:5px 0 0 5px;
  position:relative;
  width:13px;
  text-align:center;
  font-size:1.25em;
  color:#fff;
  background:#212121
}

.btn-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:13px;
  right:-15px
}

.btn-icon:hover > i,.btn-icon:focus > i {
  color:#FFF
}

.btn-icon > span {
  border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
  color:#3b5998
}

.btn-facebook > span {
  background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
  color:#55acee
}

.btn-twitter > span {
  background:#55acee
}

/*Google*/
.btn-googleplus:hover > i,.btn-googleplus:focus > i {
  color:#dd4b39
}

.btn-googleplus > span {
  background:#dd4b39
}

/*Pinterest*/
.btn-pinterest:hover > i,.btn-pinterest:focus > i {
  color:#cb2028
}

.btn-pinterest > span {
  background:#cb2028
}

/*LinkedIn*/
.btn-linkedin:hover > i,.btn-linkedin:focus > i {
  color:#007bb6
}

.btn-linkedin > span {
  background:#007bb6
}



.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

  .specialties{
 position: relative;
 padding-bottom: 50px;
 padding-left: 50px;
}

 .specialties h1{
 padding-top: 0px;
 margin-left: 0px;
 font-size: 15px;
 color: black;
 text-align: left;

}


.citys h1{
     padding-top: 0px;
 margin-left: 0px;
 font-size: 20px;
 color: black;
 text-align: left;
 text-weight: bold;
}



}

.body{
 background-image: url("https://www.multiling.com/wp-content/uploads/2018/07/AdobeStock_177452394.jpeg");
}



.inside ul {
 padding: 0;
 position: center;
  margin: 0 auto;
 display: grid;
 grid-template-rows: repeat(auto-fill, 180px);
 grid-template-columns: repeat(auto-fill, 122px);
 grid-gap: 0px;
 width: 1000px;
 
}

.inside li.small1 {
 width: 100px;
 height: 100px;
 background-color: #D98880;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}


.inside li.small2 {
 width: 100px;
 height: 100px;
 background-color: #D7BDE2;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small3 {
 width: 100px;
 height: 100px;
 background-color: #A9CCE3;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small4 {
 width: 100px;
 height: 100px;
 background-color: #A3E4D7;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small5 {
 width: 100px;
 height: 100px;
 background-color: #F9E79F;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small6 {
 width: 100px;
 height: 100px;
 background-color: #F5CBA7;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small7 {
 width: 100px;
 height: 100px;
 background-color: #E5E7E9;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small8 {
 width: 100px;
 height: 100px;
 background-color: #FF9AA2;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small9 {
 width: 125px;
 height: 125px;
 background-color: #FF9AA2;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li.small10 {
 width: 125px;
 height: 125px;
 background-color: #957DAD;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 border-radius: 50%;
 grid-row: auto / span 1;
 grid-column: auto / span 1;
 margin: 10px 0;
}

.inside li {
 display: block;
 padding: 0;
 margin: 0;
 align-self: center;
 justify-self: center;
 outline: none;
}


.circle {
	border-radius: 50%;
	position: relative;
	text-align: center;
	color: black;
	display:table;
	height: 175px;
	font-weight: bold;
	font-size: 15px;
	width: auto;
	margin:0 auto;
}

.circle span {
	display: table-cell;
	vertical-align: middle;
	height:175px;
	outline: none;
	width:175px;
	text-align:center;
	padding: 0 15px;
}

.circle a{
 outline: none;
}


.head-top{
 padding-top: 50px;
 position: relative;
 top: -100px;
 height: 400px;
}
.head-top h1{
 font-size: 50px;
 padding-left: 15px;
 padding-top: 50px;
 color: black;

}


.search{
 padding-left: 240px;
 padding-top: 30px;
 padding-bottom: 100px;
}

.toptop{
 position: relative;
 top: -95px;
}

input[type=text] {padding:5px; border:2px solid #ccc; 
-webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=text]:focus {border-color:#333; }

input[type=submit] {padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }

input[type=date] {padding:5px 15px; background:#ccc; border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }




.submit{
 background: #434343;
letter-spacing: 1px;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}


#category {
 height: 50px;
 width: 450px;
 font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 
}


#zip{
  height: 50px;
 width: 230px;
 font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#date{
  height: 50px;
 width: 250px;
 font-size: 21px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#button-search{
 font-size: 24px;
 position: relative;
 top: -5px;
 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


#mid-picture{
 width: 50%;
}


.mid-pic h1{
 position: relative;
 top: -120px;
 color: red;
}


.member-spotlight{
 margin-left:50px;
}

.member-spotlight h1{
 padding-top: 0px;
 margin-left: 0px;
 color: black;
 font-size: 18px;
 text-align: left;
 font-weight: bold;
}


#bot-pic{
  width: 50%;
}


.signup{
    width: 100%;
    height: 575px;
    color: white;
    background-color: #D98880;
    margin: auto;
}

.signup-left{
    float: left;
    width: 50%;
    height: 725px;
    
}

#sign-icon{

}

.signup-right{
    float: right;
    width: 50%;
    height: 725px;
}

.signup-right  h1{
 padding-top: 100px;
 font-size: 54px;
 

}

.signup-right h2{
 padding-top: 5px;
 font-size: 23px;
 font-weight: bold;

}

.signup-right ul{
 width: 500px;
   text-align: center;
  list-style: inside;
  letter-spacing: 2px;
  font-weight: 300;
  position: center;
  top: 100px;
 list-style-type: none;
}

.signup-right li{

}

.signup-right p{
 text-align: left;
 font-size: 20px;
}

#signup-button{
 width: 300px;
 padding: 10px;
 color: black;
 background-color: yellow;
 border: none;
 box-shadow: 0 1px 2px rgba(0,0,0,0.15);
 transition: box-shadow 0.3s ease-in-out;
}
  

.button {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  position: relative;
  left: 40px;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.east{
 padding-left: 30px;
}

.west{
 padding-left: 30px;
}

#cat-icons {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: -15px;
  top: -10px;
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 0.5em 0.6em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.);

}

#cat-icons2 {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: -7px;
  top: -10px;
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 0.5em 0.6em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.);

}

#cat-icons3 {
  display: inline-block;
  border-radius: 50%;
  position: relative;
  left: -9px;
  top: -10px;
  text-align: center;
  width: 100px;
  height: 100px;
  padding: 0.5em 0.6em;
  box-shadow: 0 1px 2px rgba(0,0,0,0.);

}




.circle-text{
    font-size: 14px;
    color: black;
    font-weight: 500;
    position: relative;
    top: -65px;
    text-align: center;
    
    
}

#carousel-image{
    opacity: 1.0;
}






</Style>


<!--<p id="notice"><%= notice %></p>-->



<!--<div class= "main-home">-->
<!--  <br><br><br><br>-->
<!--  <h1><b>University of Houston Medical Review</b></h1>-->
<!--  <br><br><br>-->
<!--  <h2>An innovative, more efficient platform for students and researchers to publish and share research.</h2>-->
<!--  <br>-->
<!--  <form class="example" action="action_page.php">-->
<!--    <input type="text" placeholder="Search.." name="search">-->
<!--    <button type="submit">Search Now<i class="fa fa-search"></i></button>-->
<!--</form>-->
  
<!--</div>-->
<!--<br><br><br>-->
<!--<div class = "categories-home">-->
<!--  <h2>Categories</h2>-->
<!--  <br>-->
  
<!--  <div class="card-group">-->
<!--  <button type="button" class="btn btn-outline-dark">Previous</button>-->
<!--  <div class="card">-->
<!--    <img src="https://assets.cureus.com/uploads/newsroom_post/thumbnail_image/13/content_card_1580346260-Newsroom_Thumbnail_Cureus_U_Em._Med.jpg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Latest Highlighted Emergency Medicine Articles</h5>-->
<!--      <button type="button" class="btn btn-info">Read More</button>-->
<!--      <p class="card-text">View our most recently published curated collection of compelling articles in the Emergency Medicine field! </p>-->
<!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <img src="https://assets.cureus.com/uploads/newsroom_post/thumbnail_image/8/content_card_1580320914-Newsroom_Thumbnail_Cureus_U_Card.jpg" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">Latest Highlighted Cardiology Articles</h5>-->
<!--      <button type="button" class="btn btn-info">Read More</button>-->
<!--      <p class="card-text">View our most recently published curated collection of compelling articles in the cardiology field!</p>-->
<!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="card">-->
<!--    <img src="https://assets.cureus.com/uploads/newsroom_post/thumbnail_image/59/content_card_1602007654-COVID-19_and_Influenza_Co-Infection.png" class="card-img-top" alt="...">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">What Will Happen When COVID-19 and the Flu Collide This Fall?</h5>-->
<!--      <button type="button" class="btn btn-info">Read More</button>-->
<!--      <p class="card-text">Read the Cureus article: COVID-19 and Influenza Co-Infection: Report of Three Cases. </p>-->
<!--      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button type="button" class="btn btn-outline-dark">Next</button>-->
<!--</div>-->

<!--</div>-->


<!--<br><br><br>-->
<!--<div class = "top-articles">-->
<!--  <h2 style="text-align:center;">Featured Top Articles</h2>-->
<!--  <br><br>-->
<!--  <div class = "top-articles-inside">-->
<!--    <h5>Featured Top Articles</h5>-->
<!--      <div class="card">-->
<!--        <div class="card-header"><b>October 26, 2020 </b>Case Report</div>-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title">Case of Colorectal Cancer After Cold Snare Polypectomy Successfully Salvaged on Endoscopic Submucosal Dissection</h5>-->
<!--          <p class="card-text">Atsushi Katagiri, Kazuya Inoki, Kenichi Konda, Fuyuhiko Yamamura, Hitoshi Yoshida.</p>-->
<!--          <a href="#" class="btn btn-primary">View Article</a>-->
<!--        </div>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="card">-->
<!--      <div class="card-header"><b>October 26, 2020</b> Review Article</div>-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Pathogenesis of Ventricular Arrhythmias and Its Effect on Long-Term Prognosis in Patients With Takotsubo Cardiomyopathy</h5>-->
<!--        <p class="card-text">Julio A. Pena Escobar, Myat Aung, Saba Amin, Azouba Gulraiz, Fenil R. Gandhi, Bilal Haider Malik</p>-->
<!--        <a href="#" class="btn btn-primary">View Article</a>-->
<!--      </div>-->
<!--    </div>-->
<!--    <br>-->
<!--    <div class="card">-->
<!--      <div class="card-header"><b>October 25, 2020</b> Technical Report</div>-->
<!--      <div class="card-body">-->
<!--        <h5 class="card-title">Limiting Outward Flow From the Patient’s Airways to the Airway Operator: Head Chamber for Intubation of COVID-19 Patients</h5>-->
<!--        <p class="card-text">JEfrain Riveros Perez, Gustavo M. Munoz-Monaco, Chad C. Parvus-Teichmann, Roberto J. Diaz-Galdo, Alexander Rocuts</p>-->
<!--        <a href="#" class="btn btn-primary">View Article</a>-->
<!--      </div>-->
<!--    </div>-->
    
<!--  </div>-->
<!--<br><br>-->
<!--<button type="button" class="btn btn-secondary btn-lg btn-block">View All Articles</button>-->
  
<!--</div>-->

<!--<br><br><br><br><br><br><br>-->
<!--<table>-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>Title</th>-->
<!--      <th>Categories</th>-->
<!--      <th>Category name</th>-->
<!--      <th>Article title</th>-->
<!--      <th>Article description</th>-->
<!--      <th>Date published</th>-->
<!--      <th colspan="3"></th>-->
<!--    </tr>-->
<!--  </thead>-->

<!--  <tbody>-->
<!--    <% @homes.each do |home| %>-->
<!--      <tr>-->
<!--        <td><%= home.title %></td>-->
<!--        <td><%= home.categories %></td>-->
<!--        <td><%= home.category_name %></td>-->
<!--        <td><%= home.article_title %></td>-->
<!--        <td><%= home.article_description %></td>-->
<!--        <td><%= home.date_published %></td>-->
<!--        <td><%= link_to 'Show', home %></td>-->
<!--        <td><%= link_to 'Edit', edit_home_path(home) %></td>-->
<!--        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Home', new_home_path %>-->
