<p id="notice"><%= notice %></p>

<p>
  <strong>Article rating:</strong>
  <%= @article.article_rating %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @article.abstract %>
</p>

<p>
  <strong>Introduction:</strong>
  <%= @article.introduction %>
</p>

<p>
  <strong>Case presentation:</strong>
  <%= @article.case_presentation %>
</p>

<p>
  <strong>Discussion:</strong>
  <%= @article.discussion %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @article.conclusion %>
</p>

<p>
  <strong>Appendice:</strong>
  <%= @article.appendice %>
</p>

<p>
  <strong>References:</strong>
  <%= @article.references %>
</p>

<p>
  <strong>Disclosures agreements:</strong>
  <%= @article.disclosures_agreements %>
</p>

<p>
  <strong>Forum comments:</strong>
  <%= @article.forum_comments %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @article.categories %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @article.keywords %>
</p>

<p>
  <strong>Article title:</strong>
  <%= @article.article_title %>
</p>

<p>
  <strong>Article author:</strong>
  <%= @article.article_author %>
</p>

<p>
  <strong>String:</strong>
  <%= @article.string %>
</p>

<p>
  <strong>Article info:</strong>
  <%= @article.article_info %>
</p>

<p>
  <strong>Figures:</strong>
  <%= @article.figures %>
</p>

<p>
  <strong>Metrics:</strong>
  <%= @article.metrics %>
</p>

<p>
  <strong>Pdf download:</strong>
  <%= @article.pdf_download %>
</p>

<p>
  <strong>Linked in:</strong>
  <%= @article.linked_in %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @article.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @article.facebook %>
</p>

<p>
  <strong>Whats app:</strong>
  <%= @article.whats_app %>
</p>

<p>
  <strong>Email:</strong>
  <%= @article.email %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
