<p id="notice"><%= notice %></p>

<p>
  <strong>Page title:</strong>
  <%= @research_submission.page_title %>
</p>

<p>
  <strong>String:</strong>
  <%= @research_submission.string %>
</p>

<p>
  <strong>Submission title:</strong>
  <%= @research_submission.submission_title %>
</p>

<p>
  <strong>String:</strong>
  <%= @research_submission.string %>
</p>

<p>
  <strong>Body of submission:</strong>
  <%= @research_submission.body_of_submission %>
</p>

<p>
  <strong>Text:</strong>
  <%= @research_submission.text %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @research_submission.comments %>
</p>

<p>
  <strong>Text:</strong>
  <%= @research_submission.text %>
</p>

<p>
  <strong>Authorid:</strong>
  <%= @research_submission.authorID %>
</p>

<p>
  <strong>String:</strong>
  <%= @research_submission.string %>
</p>

<p>
  <strong>Author name:</strong>
  <%= @research_submission.author_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @research_submission.string %>
</p>

<%= link_to 'Edit', edit_research_submission_path(@research_submission) %> |
<%= link_to 'Back', research_submissions_path %>
