<p id="notice"><%= notice %></p>

<h1 style="padding:0;">Medical Students</h1>

  <div class="students" style="height:450px;width:50%;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
    
  <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://image.freepik.com/free-photo/i-trying-be-best-doctor_329181-2188.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Mikael Dillon</h4>
                    <p class= "position">Cardiology Fellow</p>
                    <p class= "school">Baylor College of Medicine</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://image.freepik.com/free-photo/smiling-female-doctor_53419-2657.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://image.freepik.com/free-photo/portrait-doctor_144627-39390.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://image.freepik.com/free-photo/portrait-smiling-handsome-male-doctor-man_171337-5055.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://media.istockphoto.com/photos/male-doctor-using-a-laptop-sitting-at-his-desk-picture-id1043219164?k=6&m=1043219164&s=612x612&w=0&h=893OmeBePALhUcqvNqTm5hFMbl-0sGpEsL8dm6NHhwk=" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://images.unsplash.com/photo-1587497203441-4fd44b43caf8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=610&q=80" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://cdn.pixabay.com/photo/2019/12/06/13/40/anesthesia-4677401_960_720.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Anesthesiologist</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://media.istockphoto.com/photos/portrait-of-a-successful-professional-doctor-the-staff-of-the-medical-picture-id1189927644?b=1&k=6&m=1189927644&s=170667a&w=0&h=m6_01A2Avm9_kPT3ZzOdip7oyT7fhbPTtNv3GzHwsXQ=" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://image.freepik.com/free-photo/portrait-beautiful-nurse_1258-16469.jpg" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                   <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
    <div class="card">
        <div class="row no-gutters">
            <div class="col-auto">
                <img src="https://media.istockphoto.com/photos/every-patient-is-my-priority-picture-id1159312445?k=6&m=1159312445&s=612x612&w=0&h=UvxaTDqs3_5ZVqPv8_dgFs9reqI3CzZ7bRLu7rNXa2g=" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Description</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
  </div>
  
</div>
<style>
  .img-fluid{
      display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
      
        object-fit: cover;
        object-fit: center;
  }
  .card{
    margin-bottom: 20px;
    font-family: Georgia, serif ;
  }
  .card-title{
    font-weight: 600;
  }
  p{
    padding:0;
    margin:0;
  }
  .btn{
    position: absolute;
    right:0;
    bottom:0;
  }
</style>





<!--  <tbody>-->
<!--    <% @medical_students.each do |medical_student| %>-->
<!--      <tr>-->
<!--        <td><%= medical_student.name %></td>-->
<!--        <td><%= medical_student.education %></td>-->
<!--        <td><%= medical_student.background %></td>-->
<!--        <td><%= medical_student.award %></td>-->
<!--        <td><%= medical_student.certification %></td>-->
<!--        <td><%= link_to 'Show', medical_student %></td>-->
<!--        <td><%= link_to 'Edit', edit_medical_student_path(medical_student) %></td>-->
<!--        <td><%= link_to 'Destroy', medical_student, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
<!--      </tr>-->
<!--    <% end %>-->
<!--  </tbody>-->
<!--</table>-->

<!--<br>-->

<!--<%= link_to 'New Medical Student', new_medical_student_path %>-->
