<p id="notice"><%= notice %></p>



<div class= "main-home">
  <br><br><br><br>
  <h1><b>University of Houston Medical Review</b></h1>
  <br><br><br>
  <h2>An innovative, more efficient platform for students and researchers to publish and share research.</h2>
  <br>
  <form class="example" action="action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit">Search Now<i class="fa fa-search"></i></button>
</form>
  
</div>
<br><br><br>
<div class = "categories-home">
  <h2>Categories</h2>
  <br>
  
  <div class="card-group">
  <button type="button" class="btn btn-outline-dark">Previous</button>
  <div class="card">
    <img src="https://assets.cureus.com/uploads/newsroom_post/thumbnail_image/13/content_card_1580346260-Newsroom_Thumbnail_Cureus_U_Em._Med.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Latest Highlighted Emergency Medicine Articles</h5>
      <button type="button" class="btn btn-info">Read More</button>
      <p class="card-text">View our most recently published curated collection of compelling articles in the Emergency Medicine field! </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://assets.cureus.com/uploads/newsroom_post/thumbnail_image/8/content_card_1580320914-Newsroom_Thumbnail_Cureus_U_Card.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Latest Highlighted Cardiology Articles</h5>
      <button type="button" class="btn btn-info">Read More</button>
      <p class="card-text">View our most recently published curated collection of compelling articles in the cardiology field!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://assets.cureus.com/uploads/newsroom_post/thumbnail_image/59/content_card_1602007654-COVID-19_and_Influenza_Co-Infection.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">What Will Happen When COVID-19 and the Flu Collide This Fall?</h5>
      <button type="button" class="btn btn-info">Read More</button>
      <p class="card-text">Read the Cureus article: COVID-19 and Influenza Co-Infection: Report of Three Cases. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <button type="button" class="btn btn-outline-dark">Next</button>
</div>

</div>


<br><br><br>
<div class = "top-articles">
  <h2 style="text-align:center;">Featured Top Articles</h2>
  <br><br>
  <div class = "top-articles-inside">
    <h5>Featured Top Articles</h5>
      <div class="card">
        <div class="card-header"><b>October 26, 2020 </b>Case Report</div>
        <div class="card-body">
          <h5 class="card-title">Case of Colorectal Cancer After Cold Snare Polypectomy Successfully Salvaged on Endoscopic Submucosal Dissection</h5>
          <p class="card-text">Atsushi Katagiri, Kazuya Inoki, Kenichi Konda, Fuyuhiko Yamamura, Hitoshi Yoshida.</p>
          <a href="#" class="btn btn-primary">View Article</a>
        </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header"><b>October 26, 2020</b> Review Article</div>
      <div class="card-body">
        <h5 class="card-title">Pathogenesis of Ventricular Arrhythmias and Its Effect on Long-Term Prognosis in Patients With Takotsubo Cardiomyopathy</h5>
        <p class="card-text">Julio A. Pena Escobar, Myat Aung, Saba Amin, Azouba Gulraiz, Fenil R. Gandhi, Bilal Haider Malik</p>
        <a href="#" class="btn btn-primary">View Article</a>
      </div>
    </div>
    <br>
    <div class="card">
      <div class="card-header"><b>October 25, 2020</b> Technical Report</div>
      <div class="card-body">
        <h5 class="card-title">Limiting Outward Flow From the Patient’s Airways to the Airway Operator: Head Chamber for Intubation of COVID-19 Patients</h5>
        <p class="card-text">JEfrain Riveros Perez, Gustavo M. Munoz-Monaco, Chad C. Parvus-Teichmann, Roberto J. Diaz-Galdo, Alexander Rocuts</p>
        <a href="#" class="btn btn-primary">View Article</a>
      </div>
    </div>
    
  </div>
<br><br>
<button type="button" class="btn btn-secondary btn-lg btn-block">View All Articles</button>
  
</div>

<br><br><br><br><br><br><br>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Categories</th>
      <th>Category name</th>
      <th>Article title</th>
      <th>Article description</th>
      <th>Date published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @homes.each do |home| %>
      <tr>
        <td><%= home.title %></td>
        <td><%= home.categories %></td>
        <td><%= home.category_name %></td>
        <td><%= home.article_title %></td>
        <td><%= home.article_description %></td>
        <td><%= home.date_published %></td>
        <td><%= link_to 'Show', home %></td>
        <td><%= link_to 'Edit', edit_home_path(home) %></td>
        <td><%= link_to 'Destroy', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Home', new_home_path %>
